trackernet-api/src/main/resources/PredictionSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="uk.co.lul.trackernet.predictionsummary"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:element name="T">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Train"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute type="xs:string" name="S" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="Set"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="T" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="Trip"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:int" name="D" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="DestinationCode"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="C" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="TimeToStation"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="L" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="Location"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="DE" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="DestinationName"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="AT" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="ArrivalTime"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:string" name="DT" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="DepartTime"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="P">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Platform"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="T" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jaxb:property name="trains"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="N" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="Name"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute type="xs:int" name="Code" use="required"/>
            <xs:attribute type="xs:int" name="Next" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Time">
        <xs:complexType>
            <xs:attribute type="xs:string" name="TimeStamp"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="S">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Station"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="P" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jaxb:property name="platforms"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Code" use="required"/>
            <xs:attribute type="xs:string" name="N" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="Name"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ROOT">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="PredictionSummary"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Time"/>
                <xs:element ref="S" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jaxb:property name="stations"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>